
{{>navigation}}

<div class="container p-5">
  <div class="card-header" style="text-align: center;  border-radius: 12px  ">
    <h4>Buscar Videojuegos <i class="fas fa-gamepad"></i> </h4>
  </div>
  <div class="card-body">
    <form class="d-flex" action="/juegos/allgames" method="post">
      <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline" style="background-color: #0D255E; border-radius: 12px " type="submit"><i
          class="fas fa-search" style="color: white;"></i></button>
    </form>
  </div>
<div class="card-header" style="text-align: center;  border-radius: 12px  ">
    <h4>Videojuegos Recomendados <i class="fas fa-ghost"></i> </h4>
  </div>
  <div class="album p-4 bg-light">

    <div class="container">

      <div class="row row-cols-3 row-cols-sm-3 row-cols-md-3 g-2 " style="border-radius: 14px">
        {{#each videojuegos2}}

        <div class="col">
          <div class="card shadow-sm mx-auto ">
            <img src={{imagen}} class="bd-placeholder-img card-img-top" width="100%" height="240"
              alt="Imagen videojuego">

            <div class="card-body ">
              <h4 class="card-title text-uppercase">{{titulo}}</h4>
              <p class="card-text">{{descripcion}}</p>
              <P>Recomendado por: <small class="text" style="color:#0D255E; font-weight:initial;">{{nombre}}</small></P>
              <i class="fab fa-gratipay"> <small class="text"
                  style="color:#0D255E ; font-weight: intial;">{{puntos}}</small></i>
              <div class="d-flex justify-content-between align-items-center">


                <i class="fas fa-clock"><small class="text" style="color:#0D255E ; font-weight: intial;"> {{timeago
                    create_at}}</small></i>

              </div>

            </div>

          </div>

        </div>

        {{else}}
        <div class="col-md-4 mx-auto">
          <div class="card card-body text-center">
            <p>No hay videojuegos recomendados</p>
            <a href="/juegos/add">Recomienda uno </a>
          </div>
        </div>

        {{/each}}


      </div>

    </div>

  </div>