
{{>navigationadmin}}

<div class="container p-4">
  {{>mensajes}}

  <div class="card-header" style="text-align: center;  border-radius: 12px ">
    <h4>Aprobar videojuegos <i class="fas fa-gamepad"></i> </h4>
  </div>
  <br>
  {{#each videojuegos3}}

  <table class="table table-hover table-dark table-responsive ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Publicado por:</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Creado </th>
        <th scope="col">Puntos</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{idjuego}}</th>
        <td scope="row">{{nombre}}</td>
        <td>{{titulo}}</td>
        <td>{{descripcion}}</td>
        <td>{{timeago create_at}}</td>
        <td>{{puntos}}</td>
        <td><a href="/admin/aprobar/{{idjuego}}" class="btn btn-success"><i class="fas fa-check"></i> </a> <a
            class="btn btn-danger" href="/admin/deletejuegos/{{idjuego}}"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay videojuegos por aprobar </p>
        </div>
      </div>
      {{/each}}
    </tbody>
  </table>
</div>