    {{>navigationadmin}}
    


<div class="container p-4">
   <h1>Aprobar juegos</h1>
    {{>mensajes}}

<table class="table table-hover table-dark table-responsive ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Estatus</th>
      <th scope="col">Creado </th>
      <th scope="col">Puntos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each videojuegos3}}
    <tr>
      <th scope="row">{{idjuego}}</th>
      <td>{{titulo}}</td>
      <td>{{descripcion}}</td>
      <td>{{idestatus}}</td>
      <td>{{timeago create_at}}</td>
      <td>{{puntos}}</td>
       <td><a href="/admin/aprobar/{{idjuego}}"  class="btn btn-sm btn-outline-secondary">Aprobar</a><p></p> <a  class="btn btn-sm btn-outline-secondary" href="/admin/deletejuegos/{{idjuego}}">Eliminar</a></td>
    </tr>
    {{else}}
  
    {{/each}}
  </tbody>
</table>
</div>
